{{!-- NavBar --}}
<nav class="navbar navbar-light bg-light justify-content-between">
  <img  src="/assets/img/logo-sf-small.png" alt="">
  <form class="form-inline">
    <p class="box-viewer">Message Viewer</p>
  </form>
</nav>
{{!-- End --}}

{{!-- Card Message --}}
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h2 class="Starred"></h2>
      <div id="buttonParent">
        <input class="btn btn-primary" type="button" value="Show Trashed Messages" id="btn1"/>
         <input class="btn btn-primary" type="button" value="Score" id="score"/> 
         <input class="" type="text" value="" id="highlight"/> 
         <input type="submit" name="" id="highlightButton">
      </div>

        {{#each messages}}
          {{#if isTrashed}}
            {{> messageIsTrashed/messageTrash }}
          {{/if}}
        {{/each}}
     
        {{#each messages}}
        {{#unless isTrashed}}
            {{> messagesIsUntrashed/messageUntrash }}
          {{/unless}}
        {{/each}}

        <div class="unTrashNewScore"></div>  
    </div>
  </div>
</div>
{{!-- End --}}